* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornsilk;

}
.card{
    width: 370;
    height: 270;
    background: cornsilk;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.card-tile{
    position: absolute;
    top: 10px;
    left: 0;
    background: crimson;
    color: darkgrey;
    font-size: 20px;
    line-height: 24px;
    padding: 9px 20px 7px;


}
/.card-imeg{
    width: 100%;
    object-fit: cover;
}
.card-title{
    color: darkkhaki;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    text-decoration: none;
    margin-top: 40px;
    width: 100%;
}
.card-title:hover{
    text-decoration: overline;
}
.card-price{
    width: 100%;
    text-align: right;
}
.card-price-sale{
    color: rgb(114, 196, 97);
    font-weight: 500;
    font-size: 20px;
    text-decoration: line-through;
    margin: 20px 0px 10px;
    min-height: 24px;

}
.card-price-original{
    color: crimson;
    font-size:24px ;
    font-weight: 900;

}
.card-btn{
    background: rgb(174, 49, 49);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: seashell;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.card-btn:hover{
    text-decoration: underline;

}
.card-btn-imeg{
    margin-right: 10px;
}